@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fake LoL Champion Index</h1>
    <p class="lead">This site is a mini project I built. Based on the popular game League of Legends.</p>
    <p>You can visit their site <a href="http://na.leagueoflegends.com/" target="_blank">here</a>.</p>
    <p>You can add and edit champions and their ultimate abilities as an admin.</p>
    <p>Technologies used:</p>
    <ul>
        <li>C#</li>
        <li>ASP.NET MVC</li>
        <li>HTML 5</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>SQL</li>
        <li>Linq</li>
        <li>Entity Frameworks 6</li>
    </ul>
    <p>A few cool things that I figured out while doing this project:</p>
    <ul>
        <li>I figured out how to run JavaScript on specific pages.</li>
        <li>I realized how much potential MVC Rendered Sections have.</li>
        <li>I figured out how to file upload multiple files without a jQuery library.</li>
    </ul>
    <p>You can check out the rest of my projects here.</p>
    <p><a href="http://www.omarabdulaziz.net" class="btn btn-primary btn-large">My Portfolio Site &raquo;</a></p>
</div>

